Restaurants WHATSAPP bOT.json
{
  "name": "Restaurants WHATSAPP bOT",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -192
      ],
      "id": "e1be50b4-5523-483e-898a-3c269fdfafac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1d56j7x_XLg0qPqHkG1KLF7KOAZ1Je3CK",
          "mode": "list",
          "cachedResultName": "RestaurantMealData_RAG.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1d56j7x_XLg0qPqHkG1KLF7KOAZ1Je3CK/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        -192
      ],
      "id": "add35081-c5e7-44b8-8b65-a9ce419b637b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "22CJZ4oW5N0el7oU",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -256,
        -256
      ],
      "id": "8ffe2295-165a-4af7-a5b6-6f8cf6780b1c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "WVr6FUWUftT8cDa2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        -32
      ],
      "id": "1d4c111e-f8df-4a36-bc0f-d1795b2d8845",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NQoqEXhwk96bfZrO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -96,
        -48
      ],
      "id": "fa6344b9-b871-47a8-8d99-0f1d45879c8e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "**RAG Pipeline**",
        "height": 608,
        "width": 768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -400
      ],
      "typeVersion": 1,
      "id": "8dfcd8ae-650d-4a31-a9a1-ca1cc4db7823",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        -336
      ],
      "id": "1ad2ecf0-6198-42f6-80d6-5debd4e7ed60",
      "name": "WhatsApp Trigger",
      "webhookId": "30794751-bca8-4b8c-8337-f29bb67ad994",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "RhAp9Mt7GyeHV0zJ",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are an intelligent AI Agent connected to a WhatsApp Trigger node. \nYou will receive user messages from WhatsApp and respond using the data retrieved from the Supabase Vector Datastore.\n\nFollow these strict rules:\n\n1. When a message is received from WhatsApp:\n   - Treat the message as a user query.\n   - Use the Supabase Vector Datastore as your only source of truth to find relevant information.\n   - Do NOT access external APIs, databases, or tools beyond Supabase.\n\n2. Retrieval Instructions:\n   - Search the Supabase Vector Datastore for the most relevant documents related to the user's query.\n   - Retrieve only factual, contextually related content.\n   - If no relevant data is found, respond with:\n     “The requested information is not available in the current knowledge base.”\n\n3. Summarization and Response:\n   - Use the OpenAI model to summarize the retrieved data clearly and naturally.\n   - Write in a conversational, human-friendly tone suitable for WhatsApp communication.\n   - Keep answers concise, polite, and informative.\n   - Include any helpful insights or key points mentioned in the retrieved data.\n\n4. Style and Tone:\n   - Always maintain a professional, friendly, and clear tone.\n   - Avoid technical jargon unless the user asks for it.\n   - If the user asks follow-up questions, continue to use the Supabase datastore for each query.\n\n5. Restrictions:\n   - Do NOT generate or assume information not present in the Supabase Vector Datastore.\n   - Do NOT use any external tools or APIs.\n   - Do NOT produce long paragraphs unless summarization is explicitly requested.\n\nExample Workflow:\nUser sends WhatsApp message → Agent receives the message → Retrieves relevant info from Supabase Vector Datastore → Summarizes with OpenAI → Sends the summarized response back to WhatsApp.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1312,
        -336
      ],
      "id": "921511a1-b5a0-4efe-8089-1e8e6ff4e452",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1376,
        -112
      ],
      "id": "63df7e20-e193-45f2-86b9-c238a7e061e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NQoqEXhwk96bfZrO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a retrieval-augmented AI assistant specialized in answering user questions using information stored in the Supabase Vector Store.\n\nYou must follow these strict rules:\n1. You are not allowed to use or invoke any other tools, APIs, or external knowledge sources.\n2. Only use the data retrieved from the Supabase Vector Store for answering questions.\n3. If the answer is not found in the retrieved documents, respond with:\n   “The requested information is not available in the current document store.”\n4. Provide accurate, concise, and factual answers strictly based on the retrieved content.\n5. Do not hallucinate or make assumptions beyond the given context.\n6. Maintain a professional and clear explanation style.\n",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1120,
        -112
      ],
      "id": "a47f4341-0f95-4a72-a5e5-133736eeccc9",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "WVr6FUWUftT8cDa2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1040,
        96
      ],
      "id": "ad31b94f-c798-45c9-9729-bf261de3ea6a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NQoqEXhwk96bfZrO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "838134086049937",
        "recipientPhoneNumber": "+923207094543",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -960,
        -336
      ],
      "id": "6c140ab3-c3ce-473e-805e-3a58447c3fe7",
      "name": "Send message",
      "webhookId": "73bc302e-25da-4461-903d-938fe2e732fd",
      "credentials": {
        "whatsAppApi": {
          "id": "vGU87IqLg62XstUc",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1248,
        -112
      ],
      "id": "61e34f7f-3a62-4e6e-b8a2-5d450c3dc951",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Q5Bg1ikZ8TuLjVsV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "**WhatsApp Chat bot trigger**",
        "height": 624,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        -400
      ],
      "typeVersion": 1,
      "id": "17eba61c-18da-4030-b3fb-92d4b9875801",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1a7f5d2-1da8-4aa5-8871-1634c7966dcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28e720419f2f5122835c6dbf533175711f792a1e1256827e5617fabd06df700a"
  },
  "id": "NenLQKOsFQosJ2aE",
  "tags": []
}